/* 6つのp要素に適用するスタイルを宣言 */
p {
    color: white;
    background-color: blue;
}
.yellow {
    color: yellow;
}
#red {
    color: red;
}
/* 6つのli要素に適用するスタイルを宣言 */
li {
    font-size: 16px;
}
.string-yellow {
    color: yellow;
}
.back-grey {
    background-color: grey  ;
}
.string-blue {
    color: blue;
}
.string-red {
    color: red;
}
.back-green {
    background-color: green;
}
.back-brown {
    background-color: brown;
}
.font-size {
    font-size: 12px;
}